<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../assets/logo.svg">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="../assets/logo.svg" class="hlogo">
        <section class="headerlinks">
            <h1>KNURY <br> KNURÓW</h1>
            <nav>
                <a href="#onas">O nas</a>
                <a href="#zawodnicy">Zawodnicy</a>
                <a href="#socialmedia">Social Media</a>
            </nav>
        </section>
    </header>
    <main>
        <section id="onas">
            <h2>O Nas</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nobis reiciendis fugiat ad! Dignissimos optio obcaecati veritatis repellendus error non voluptas cum, aspernatur minima. Magnam mollitia sunt architecto facilis harum modi sed tempora, commodi ullam qui illum! Corrupti suscipit consectetur magni sunt ex repudiandae eveniet esse atque laboriosam explicabo nihil, incidunt, doloribus minima, deserunt perferendis ipsum dolores. Necessitatibus minus quo soluta aut rem quas quia ducimus nam libero cum ipsam exercitationem dolores, alias eligendi eveniet fuga veritatis amet ullam a non optio sapiente doloribus officiis? Cupiditate corrupti, ipsa soluta officia reprehenderit neque eaque ut eligendi consequatur dicta saepe, vero numquam!
            </p>
        </section>
        <section id="zawodnicy">
            <h2>Zawodnicy</h2>
            <section class="zawodnicy">
                <div class="zawodnik">
                    <span style="grid-area: n;">LeBron James</span>
                    <img src="../assets/images/player.png">
                    <span style="grid-area: p;">Power Forward</span>
                    <span style="grid-area: h;">6'8"</span>
                    <span style="grid-area: w;">235 lb</style>
                </div>
                <div class="zawodnik">
                    <span style="grid-area: n;">LeBron James</span>
                    <img src="../assets/images/player.png">
                    <span style="grid-area: p;">Power Forward</span>
                    <span style="grid-area: h;">6'8"</span>
                    <span style="grid-area: w;">235 lb</style>
                </div>
                <div class="zawodnik">
                    <span style="grid-area: n;">LeBron James</span>
                    <img src="../assets/images/player.png">
                    <span style="grid-area: p;">Power Forward</span>
                    <span style="grid-area: h;">6'8"</span>
                    <span style="grid-area: w;">235 lb</style>
                </div>
            </section>
        </section>
        <section id="socialmedia">
            <h2>Social Media</h2>
            <section class="socialmedia">
                <img src="../assets/images/facebook.png">
                <img src="../assets/images/instagram.png">

            </section>
        </section>
    </main>
    <footer>
        Knury Knurów
    </footer>
</body>
</html>