@font-face {
    font-family: monument-extended;
    src: url(../fonts/monument-extended.ttf);
}
html{
    font-size: 1vw;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: monument-extended;
    color: #fcfcfc;
    background:#222222;
}

a{
    color: #fcfcfc;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

a:hover{
    color: #f03838;
}


header{
    background: linear-gradient(#393939,#222222);
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    padding-left: 5vw;
    align-content: center;
    grid-template-columns: 1fr 3fr;
}

.hlogo{
    width: 30vw;
    height: auto;
    display: block;
}

.headerlinks{
    display: grid;
    grid-auto-flow: row;
    align-self: center;
    align-content: center;
    padding: 0;
}

h1{
    font-size: 6rem;
    font-weight: 500;
    color: #fcfcfc;
    margin: 0;
    cursor:default;
}

nav{
    display: grid;
    grid-auto-flow: column;
    justify-content:startgit ;
    gap: 5vw;
}

nav>a{
    display: block;
}

main{
    display: grid;
}

h2{
    color:#f03838;
    text-align: center;
}
section{
    padding: 5vh 0;
    display: grid;
    justify-content: center;
}

#onas{
    padding: 5vh 15vw;
}

.zawodnicy{
    display: grid;
    grid-auto-flow: column;
    gap: 10vw;
}

.zawodnik{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "n n"
    "i i"
    "p p"
    "h w";
    background: linear-gradient(#f03838, #1d1d1d);
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0px 0px 42px 22px rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.zawodnik:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 1);
    
}

.zawodnik>img{
    width: 20vw;
    grid-area: i;
    z-index: 10;
}

span{
    display: block;
}

.zawodnik>span{
    text-align: center;
    padding: 10px 0;
}

.zawodnik>span:nth-child(1){
    font-size: 2rem;
}

.socialmedia{
    display: grid;
    grid-auto-flow: column;
    gap: 10vw;
}

.socialmedia>img{
    width: 5vw;
}
footer{
    height: 75vh;
    background: linear-gradient(#222222,#f03838);
    font-size: 7rem;
    text-align: center;
    display: grid;
    align-items: center;
}
/*#f23535*/